In [1]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt
from matplotlib.pyplot import boxplot
import itertools
from scipy import stats
import sys
sys.path.insert(0,'../..')
from g4l.data import Sample
from g4l.tree import ContextTree
import g4l.display
import g4l.estimators.ctm as ctm

# load initial data
X = Sample('../example1/folha.txt', [0, 1, 2, 3, 4])
initial_tree = ContextTree(X, max_depth=4)

WARNING:root:Invalid characters were filtered from the provided sample (1 occurrences)

In [2]:
# Max tree depth used
max_depth = 4
# Alphabet
A = [0, 1, 2, 3, 4]
# Penalization constant required for BIC
c = 0.5

## 1. Loading the sample

In [4]:
sample = g4l.data.Sample('../example1/folha.txt', A)
initial_tree = g4l.tree.ContextTree(sample, max_depth=max_depth, tree_initialization_method=g4l.tree.generation.incremental)

WARNING:root:Invalid characters were filtered from the provided sample (1 occurrences)
../../g4l/tree/generation/incremental.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nodes['prev'] = nodes.node.str.slice(stop=-1)

Context Trees are appropriately represented by a Data Frame. 
For any given sample `sample`, the following steps are performed:
* Populates Data Frame with all leaf nodes for a maximum depth as indicated in `max_depth`.
* Calculates the number of occurrences of each context (leaf node) in the sample (`node_freq`) 
* Calculates context's probability (`ps`) in the sample
* Calculates probability of transition to each symbol $a \in A$ (`child_probs`).
* Since all these values are computed, we can also compute the likelihood for each context (`lps`).

The resulting initial Data Frame is shown below:

In [6]:
dfx = initial_tree.df
dfx[(dfx.depth==4) & (dfx.lps<0)].sort_values(['lps'], ascending=False).head(20)

,node_idx,node,depth_idx,freq,active,depth,parent_idx,num_child_nodes,lps
220,220,0334,146,2,0,4,73,NaN,-1.386294
219,219,3342,145,2,0,4,70,NaN,-1.386294
213,213,0034,139,2,0,4,71,NaN,-1.386294
215,215,1343,141,3,0,4,72,NaN,-1.909543
212,212,3433,138,3,0,4,63,NaN,-1.909543
197,197,4300,123,17,0,4,48,NaN,-3.803207
206,206,3034,132,6,0,4,71,NaN,-4.158883
204,204,1342,130,9,0,4,70,NaN,-4.767356
210,210,3430,136,7,0,4,53,NaN,-4.780357
203,203,2134,129,8,0,4,69,NaN,-5.292506
208,208,3421,134,9,0,4,58,NaN,-5.728628
211,211,1034,137,11,0,4,71,NaN,-6.445479
209,209,0343,135,7,0,4,72,NaN,-6.689899
195,195,3214,121,11,0,4,62,NaN,-7.210300
200,200,3333,126,16,0,4,65,NaN,-7.721241
207,207,0342,133,12,0,4,70,NaN,-8.317766
205,205,3420,131,14,0,4,40,NaN,-9.560713
165,165,1333,91,15,0,4,65,NaN,-10.948068
201,201,3332,127,21,0,4,66,NaN,-12.563661
191,191,4333,117,19,0,4,65,NaN,-16.008325

*Implementation notes: In the original algorithm the steps described so far are part of the context tree estimator procedures. These steps were refactored to outside the tree estimation since they always produce the same results for a given sample. In the new implementation, these procedures are hence precomputed and will serve as input to any further call to BIC context tree estimation. (computing time has decreased to about $\frac{1}{10}$ of the original algorithm)*

## 2. Computing the BIC context tree estimator

In [7]:
ctm = g4l.estimators.ctm.CTM(initial_tree)
bic_tree = ctm.execute(c)

# Show resulting tree
print('Resulting tree: ', bic_tree.to_str())

Resulting tree:  0000 001 0010 100 2 20 200 2000 201 2010 21 210 3 30 300 4

The CTM procedure computes BIC context tree estimator efficiently. It receives as parameter the penalization constant `c` and returns a DataFrame representing the tree, containing all leaf nodes for a maximum depth as indicated in `max_depth`.  For any given `sample`, the DataFrame initially calculates the number of occurrences of each leaf node in the sample (`node_freq`) along with its probability `ps` and the probability of transition to each symbol $a \in A$ (`child_probs`). Since these values are computed, we can also compute the likelihood for each context `lps`.

In [9]:
bic_tree.tree()

,node_idx,active,depth,depth_idx,freq,lps,node,num_child_nodes,parent_idx,type
122,122,1,4,48,943,-498.167901,0000,NaN,51,L
46,46,1,3,24,5841,-5667.415799,001,2.0,12,N
117,117,1,4,43,3598,-3355.740123,0010,NaN,32,L
41,41,1,3,19,991,-857.654536,100,2.0,16,N
0,0,1,1,0,21830,-14738.415509,2,4.0,None,N
11,11,1,2,6,13039,-8990.185277,20,4.0,2,N
45,45,1,3,23,5841,-3963.412028,200,4.0,16,N
121,121,1,4,47,2360,-1499.970209,2000,NaN,51,L
31,31,1,3,9,7198,-6004.942615,201,4.0,12,N
83,83,1,4,9,5159,-5096.133730,2010,NaN,32,L
5,5,1,2,0,8791,-7049.868636,21,4.0,1,N
22,22,1,3,0,6379,-6451.494034,210,4.0,6,N
3,3,1,1,3,7909,-6694.549175,3,4.0,None,N
10,10,1,2,5,5417,-5059.766582,30,4.0,2,N
48,48,1,3,26,384,-344.734459,300,4.0,16,N
4,4,1,1,4,2070,-1346.974840,4,3.0,None,N

### 2.1 - Executing the BIC tree estimator

The following steps demonstrate in details how BIC tree estimator performs to achieve the outcome data frame described above.

In [10]:
# Let's consider the initial tree with freqs/probs pre-calculated for the input Sample
data_frame = initial_tree.df.copy()

# These are the first 8 nodes in the Data Frame:
data_frame.head(8)

,node_idx,node,depth_idx,freq,active,depth,parent_idx,num_child_nodes,lps
0,0,2,0,21830,0,1,None,4.0,-14715.435172
1,1,1,1,21830,0,1,None,2.0,-18794.382713
2,2,0,2,44111,0,1,None,4.0,-62840.152905
3,3,3,3,7909,0,1,None,4.0,-6671.568838
4,4,4,4,2070,0,1,None,3.0,-1323.994503
5,5,21,0,8791,0,2,1,4.0,-7026.888299
6,6,10,1,15136,0,2,2,2.0,-14916.737004
7,7,02,2,14236,0,2,0,3.0,-9542.277382

In [25]:
# We instantiate the Context Tree Maximizer class by passing the pre-calculated tree as parameter
ctm = g4l.estimators.ctm.CTM(initial_tree)

### 2.2 - Applying the penalization

We apply a penalization considering the constant $c$ (in this case `c = 0.5`). We update each context's lps value as following: 

`data_frame.lps -= np.log(n) * (degrees_of_freedom * c)`

with  `degrees_of_freedom` = $|A|-1$

In [26]:
ctm.apply_penalization(c, data_frame)
data_frame

,node_idx,node,len_idx,node_freq,l,parent_idx,node_prob,lps,transition_sum_log_probs,final,flag
0,0,2,0,21830,1,None,0.223323,-14738.415530,-1.424897,0,0
1,1,1,1,21830,1,None,0.223323,-18817.363070,-8.296834,0,0
2,2,0,2,44111,1,None,0.451259,-62863.133263,-9.367255,0,0
3,3,3,3,7909,1,None,0.080910,-6694.549196,-9.670055,0,0
4,4,4,4,2070,1,None,0.021176,-1356.196089,-9.133726,0,0
...,...,...,...,...,...,...,...,...,...,...,...
228,228,3334,148,1,4,68,0.010309,-22.980357,0.000000,0,0
229,229,3342,149,2,4,79,0.666667,-24.366652,-1.386294,0,0
230,230,0334,150,2,4,59,0.004525,-24.366652,-1.386294,0,0
231,231,4214,151,1,4,61,0.001656,-22.980357,0.000000,0,0
232,232,3343,152,1,4,79,0.333333,-22.980357,0.000000,0,0

### 2.3 Selecting candidate contexts

For every context that occurs more than once in the sample, we sum the  `lps` of its child contexts and compare to its own `lps`. When the first value is greater than the second, we update the context's `lps` with the new value and "flag" this context to be further removed.

In [27]:
ctm.block2(data_frame) # TODO: rename this method
data_frame

,node_idx,node,len_idx,node_freq,l,parent_idx,node_prob,lps,transition_sum_log_probs,final,flag
0,0,2,0,21830,1,None,0.223323,-14738.415530,-1.424897,0,0
1,1,1,1,21830,1,None,0.223323,-7263.807918,-8.296834,0,1
2,2,0,2,44111,1,None,0.451259,-14154.087852,-9.367255,0,1
3,3,3,3,7909,1,None,0.080910,-783.366441,-9.670055,0,1
4,4,4,4,2070,1,None,0.021176,-1356.196089,-9.133726,0,0
...,...,...,...,...,...,...,...,...,...,...,...
228,228,3334,148,1,4,68,0.010309,-22.980357,0.000000,0,0
229,229,3342,149,2,4,79,0.666667,-24.366652,-1.386294,0,0
230,230,0334,150,2,4,59,0.004525,-24.366652,-1.386294,0,0
231,231,4214,151,1,4,61,0.001656,-22.980357,0.000000,0,0
232,232,3343,152,1,4,79,0.333333,-22.980357,0.000000,0,0

### 2.4 Selecting the final nodes

*Need help to describe this step*

In [28]:
ctm.block3(data_frame)

In [29]:
data_frame

,node_idx,node,len_idx,node_freq,l,parent_idx,node_prob,lps,transition_sum_log_probs,final,flag
0,0,2,0,21830,1,None,0.223323,-14738.415530,-1.424897,1,0
1,1,1,1,21830,1,None,0.223323,-7263.807918,-8.296834,0,1
2,2,0,2,44111,1,None,0.451259,-14154.087852,-9.367255,0,1
3,3,3,3,7909,1,None,0.080910,-783.366441,-9.670055,0,1
4,4,4,4,2070,1,None,0.021176,-1356.196089,-9.133726,1,0
...,...,...,...,...,...,...,...,...,...,...,...
228,228,3334,148,1,4,68,0.010309,-22.980357,0.000000,0,0
229,229,3342,149,2,4,79,0.666667,-24.366652,-1.386294,0,0
230,230,0334,150,2,4,59,0.004525,-24.366652,-1.386294,0,0
231,231,4214,151,1,4,61,0.001656,-22.980357,0.000000,0,0
232,232,3343,152,1,4,79,0.333333,-22.980357,0.000000,0,0

### 2.4 - Resulting context tree

In [30]:
ctm.final_tree(data_frame)

,node_idx,node,len_idx,node_freq,l,parent_idx,node_prob,lps,transition_sum_log_probs,final,flag
17,17,00,11,10519,2,2,0.238467,-11239.564488,-11.977777,1,0
129,129,0001,49,2360,4,54,0.714502,-2402.353929,-7.482955,1,0
123,123,0010,43,3598,4,49,0.615990,-3355.740144,-7.805862,1,0
109,109,0020,29,571,4,45,0.616631,-418.451227,-1.387402,1,0
58,58,003,33,296,3,17,0.028140,-293.007993,-9.053958,1,0
181,181,0030,101,187,4,58,0.631757,-192.917428,-8.620047,1,0
92,92,0103,12,1714,4,35,0.195729,-1442.588257,-9.599694,1,0
101,101,0120,21,1858,4,39,0.628552,-1306.969986,-1.390474,1,0
88,88,0201,8,4696,4,33,0.543896,-4010.074481,-8.180476,1,0
98,98,0303,18,794,4,37,0.238367,-682.018090,-9.336676,1,0
126,126,0420,46,555,4,53,0.556670,-399.156775,-1.417317,1,0
91,91,1020,11,6102,4,26,0.621195,-4232.220300,-1.392977,1,0
93,93,1030,13,2184,4,36,0.699104,-2093.946836,-7.807642,1,0
102,102,1201,22,1519,4,40,0.550961,-1189.104496,-8.754478,1,0
10,10,13,4,1600,2,1,0.073294,-1345.491886,-9.242682,1,0
31,31,130,6,1123,3,10,0.701875,-1007.895953,-8.200530,1,0
180,180,1303,100,261,4,31,0.232413,-228.970860,-10.017521,1,0
105,105,1420,25,195,4,42,0.560345,-155.979627,-1.408660,1,0
0,0,2,0,21830,1,None,0.223323,-14738.415530,-1.424897,1,0
114,114,2001,34,3481,4,48,0.595960,-3277.608431,-7.905471,1,0
89,89,2010,9,5159,4,34,0.716727,-5096.133751,-7.243233,1,0
6,6,21,0,8791,2,0,0.402703,-7049.868657,-8.864123,1,0
25,25,210,0,6379,3,6,0.725628,-6451.494055,-7.195982,1,0
97,97,2103,17,1410,4,25,0.221038,-1135.376920,-10.913435,1,0
134,134,2120,54,899,4,28,0.552211,-631.625030,-1.418892,1,0
87,87,3020,7,1961,4,32,0.562375,-1367.395447,-1.401513,1,0
99,99,3030,19,960,4,38,0.700219,-940.391852,-7.544769,1,0
63,63,320,38,884,3,18,0.539024,-615.143725,-1.433591,1,0
154,154,3201,74,537,4,63,0.607466,-441.672064,-8.561335,1,0
21,21,33,15,818,2,3,0.103426,-738.983041,-9.692231,1,0
60,60,330,35,543,3,21,0.663814,-518.443855,-8.152111,1,0
169,169,3303,89,163,4,60,0.300184,-152.818006,-4.310641,1,0
211,211,3420,131,14,4,73,0.608696,-32.541071,-1.406914,1,0
4,4,4,4,2070,1,None,0.021176,-1356.196089,-9.133726,1,0
106,106,4201,26,446,4,43,0.583770,-409.253664,-10.251696,1,0
20,20,43,14,700,2,4,0.338164,-687.454841,-3.734817,1,0
56,56,430,31,420,3,20,0.600000,-368.219936,-10.779915,1,0
194,194,4303,114,153,4,56,0.364286,-142.381466,-4.711592,1,0

### String representation

The resulting object also provides a string representation of the selected context tree:

In [31]:
bic_tree.to_str()

'00 0001 0010 0020 003 0030 0103 0120 0201 0303 0420 1020 1030 1201 13 130 1303 1420 2 2001 2010 21 210 2103 2120 3020 3030 320 3201 33 330 3303 3420 4 4201 43 430 4303'

### Comparing context trees

A handy comparison method is available to compare trees

In [32]:
bic_tree.equals_to(bic_tree)

True

In [34]:
tree1 = g4l.estimators.ctm.CTM(initial_tree).execute(0.2)    # c = 0.5
tree2 = g4l.estimators.ctm.CTM(initial_tree).execute(3000)   # c = 3000
tree3 = g4l.estimators.ctm.CTM(initial_tree).execute(4000)   # c = 4000

print("tree1:", tree1.to_str(), "\n")
print("tree2:", tree2.to_str(), "\n")
print("tree3:", tree3.to_str(), "\n\n")

print("tree1 == tree2 ?", tree1.equals_to(tree2))
print("tree1 == tree3 ?", tree1.equals_to(tree3))
print("tree2 == tree3 ?", tree2.equals_to(tree3))

tree1: 00 0001 0010 0020 003 0030 0103 0120 0201 0303 0420 1020 1030 1201 13 130 1303 1420 2 2001 2010 21 210 2103 2120 3020 3030 320 3201 33 330 3303 3420 4 4201 43 430 4303

tree2: 0 1 2 3 4

tree3: 0 1 2 3 4


tree1 == tree2 ? False
tree1 == tree3 ? False
tree2 == tree3 ? True

In [35]:
bic_tree.log_likelihood()

-82147.8701857751